body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1a1a1a, #5a0f1b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #111;
    color: #fff;
    width: 360px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
    border: 2px solid gold;
}

.header h1 {
    margin: 0;
    color: gold;
    font-size: 28px;
}

.header h2 {
    margin-top: 5px;
    font-size: 18px;
    font-weight: normal;
}

.details p {
    margin: 8px 0;
}

.countdown h3 {
    margin-top: 25px;
    color: gold;
}

.time {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.time div {
    background: #222;
    padding: 10px;
    border-radius: 10px;
    width: 70px;
}

.time span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: gold;
}

.time small {
    font-size: 12px;
}

.footer {
    margin-top: 25px;
    font-size: 14px;
    color: #ddd;
}
